<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Add new contact info</title>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#sendBtn").click(function(){
                    
                    var data = {
                        
                        user:localStorage['username'],
                        name:$("#name").val(),
                        address:$("#address").val(),
                        age:$("#age").val(),
                    }
                    
                    $.ajax({
                    
                        method:'POST',
                        url:'http://localhost:3000/persons',
                        data:data,                        
                    }).done(function(data){
                        window.location = "./persons.html";    
                    });
                });
            });            
        </script>
    </head>
    <body>
        <h1>Add new contact info</h1>   
        
        <form>
            <input type="text" required placeholder="Your full name" id="name"/>
            <input type="text" required placeholder="Your full address" id="address"/>
            <input type="text" required placeholder="Your age" id="age"/>
            
            <input type="button" value="Send" id="sendBtn"/>
        </form>
        
<!--
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                </div>
            </div>        
            <div class="form-group">
                <label for="inputAge" class="col-sm-2 control-label">Age</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputAge" placeholder="Age">
                </div>
            </div>     
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" SubmitPerson="">Submit</button>
                </div>
            </div>
        </form> 
-->
                
        
        <!--<script src="/lib/jquery-2.1.4.min.js"></script> 
        <script src="/controllers/scripts.js"></script>-->
    </body>
</html>