<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--Tämä on kommentti-->
        <p>Hello earth habitants!</p>
        <div class="mun_keksima">terve</div>
        <div class="fancy">taas</div>
        
        <p class="fancy">heissan</p>
        
        <p id="joku_tyyli">tadaa id tyyliä pukkaa</p>
        
        <input type="text" placeholder="enter your name"/>
        <script src="/controllers/scripts.js"></script>            
    </body>
</html>