<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    
        <div>
            <nav id="head">
                <a href="https://www.kaleva.fi">Kaleva</a>
                <a href="https://www.iltasanomat.fi">Iltis</a>
            </nav>
            <section>
                <h1 class="about">about</h1>
                <p class="about">here is some content</p>
            </section>
            <footer data-dummy="">
                <p>copyright by team ohjelmistokehitys</p>
            </footer>
        </div>
        
        <!--Tämä on kommentti-->
        <p>Hello earth habitants!</p>
        <div class="mun_keksima">terve</div>
        <div class="fancy">taas</div>
        
        <p class="fancy mun_keksima">heissan</p>
        
        <p id="joku_tyyli">tadaa id tyyliä pukkaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        
        <div>
            <p id="para1">terves</p>
        </div>
        
        <input type="text" placeholder="enter your name"/>
        
        <script src="/lib/jquery-2.1.4.min.js"></script> 
        <script src="/controllers/scripts.js"></script>            
    </body>
</html>