<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Login friends</title>         
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="login_container">
            <h3>Login or register to friends app!</h3>
            <form>
                <input type="text" placeholder="username" class="form-control">
                <input type="password" placeholder="password" class="form-control">
                <input type="submit" value="Login" class="btn-default">
                <input type="submit" value="Register" class="btn-default">
            </form>
            <p id="status">Not Logged In</p>
        </div>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/login_script.js"></script>
    </body>
</html>